<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户 iframe 框</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/eleTree/eleTree.css" media="all">
  <style type="text/css">
    .eleTree {
      height: auto;
      width: 60%;
      display: none;
      position: absolute;
      top:100%;
      background-color: #fff;
      z-index: 100;
      border: 1px solid #ccc;
      overflow: hidden;
    }
  </style>
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
     style="padding: 20px 0 0 0;">
  <input type="hidden" name="id" th:value="${sysPermission?.id}">
  <div class="layui-form-item">
    <label class="layui-form-label">权限名称</label>
    <div class="layui-input-inline">
      <input type="text" name="permissionName" th:value="${sysPermission.permissionName}" lay-verify="required" placeholder="请输入姓名"
             autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限标识</label>
    <div class="layui-input-inline">
      <input type="text" name="permissionCode" th:value="${sysPermission.permissionCode}" lay-verify="required" placeholder="请输入用户名"
             autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限URL</label>
    <div class="layui-input-inline">
      <input type="text" name="permissionUrl" th:value="${sysPermission.permissionUrl}" lay-verify="required" placeholder="请输入url"
             autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-inline">
      <input type="text" name="sort" th:value="${sysPermission.sort}" lay-verify="required" placeholder="请输入排序数"
             autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限分类</label>
    <div class="layui-input-inline">
      <select name="permissionType" lay-verify="required">
        <option value="">请选择分类</option>
        <option th:selected="${sysPermission?.permissionType == 1}" value="1">按钮</option>
        <option th:selected="${sysPermission?.permissionType == 0}" value="0">菜单</option>
        <option th:selected="${sysPermission?.permissionType == -1}" value="-1">目录</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <input type="hidden" id="parentId" name="parentId"
           th:value="${sysPermission?.parentId}">
    <label class="layui-form-label">上级资源</label>
    <div class="layui-input-block">
      <input type="text" name="permissionParentName" th:value="${permissionParentName}" required=""
             placeholder="请选择上级资源" readonly="" autocomplete="off"
             class="layui-input" style="width: 60%">
      <div class="eleTree ele5" lay-filter="data5"></div>
    </div>
  </div>
  <div class="layui-form-item layui-hide">
    <input type="button" lay-submit lay-filter="LAY-permission-submit" id="LAY-permission-submit" value="确认">
  </div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'upload', 'laydate', 'permission'], function () {
    var $ = layui.$
        , form = layui.form
        , laydate = layui.laydate
        , upload = layui.upload;

    laydate.render({
      elem: '#test-laydate-type-date'
      //,type: 'date' //type 默认为 date，所以可不填
      , trigger: 'click'
    });

  })
</script>
</body>
</html>